@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --leading: 1.6;
}

@theme {
  --color-yellow: #fcc35a;
  --color-blue: #5479fe;
  --color-labuddy: linear-gradient(
    to right,
    var(--color-yellow),
    var(--color-blue)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  line-height: var(--leading);
}

.bg-labuddy {
  background: var(--color-labuddy);
}

.bg-result {
  background-image: linear-gradient(to right, #fcc35a33, #5479fe33);
}

.text-labuddy {
  background: var(--color-labuddy);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-labuddy {
  border-width: 4px;
  border-style: solid;
  border-image-source: var(--color-labuddy);
  border-image-slice: 1;
}
